@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/RobotoRegular.woff") format('woff'), url("../fonts/Roboto/RobotoRegular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/RobotoBold.woff") format('woff'), url("../fonts/Roboto/RobotoBold.ttf") format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: 400;
  overflow-x: hidden;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  -webkit-transition: 0.2s color ease-in;
  transition: 0.2s color ease-in;
}
body {
  background: #edf0f1;
  padding: 80px 0 0 0;
}
.container {
  width: 100%;
  padding: 15px;
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  -webkit-box-shadow: 0 2px 4px rgba(44,62,80,0.15);
          box-shadow: 0 2px 4px rgba(44,62,80,0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
}
header input {
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.2);
  border-radius: 5px 25px 25px 5px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  font-weight: 400;
  padding: 0 60px 0 18px;
}
header input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
header input::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
header input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
header input::-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
header input::placeholder {
  color: rgba(255,255,255,0.5);
}
header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  cursor: pointer;
}
header svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .fill {
  fill: #25b99a;
}
.todo {
  width: 100%;
}
.todo li {
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(44,62,80,0.1);
          box-shadow: 0 1px 2px rgba(44,62,80,0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  padding: 14px;
}
.todo li:last-of-type {
  margin: 0;
}
.buttons {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}
.buttons button:last-of-type:before {
  content: '';
  width: 2px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #edf0f1;
}
.buttons svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.remove .fill {
  fill: #c0cecb;
}
.remove:hover .fill {
  fill: #e85656;
}
.complete .fill {
  fill: #25b99a;
}
.complete svg {
  border-radius: 11px;
  border: 1.5px solid #25b99a;
}
.complete svg:hover {
  background: #25b99a;
}
.complete svg:hover .fill {
  fill: #fff;
}
.noFill {
  fill: none;
}
.completed .complete svg {
  background: #25b99a;
  border: none;
}
.completed .complete svg .fill {
  fill: #fff;
}
.completed:not(:empty) {
  padding: 30px 0 0 0;
  position: relative;
}
.completed:not(:empty):before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.fill {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
